.blog-layout {
  grid-area: content;
  padding-top: var(--main-padding);
  width: 100%;
}

@media (min-width: 50rem) {
  .blog-layout {
    width: 100ch;
    max-width: 100%;
    margin: 0 auto;
  }
}
