.home {
  grid-area: content;
  display: grid;
  grid-template-areas: 'about projects';
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap);
  max-height: 100%;
  padding-top: var(--main-padding);
}

@media (max-width: 50rem) {
  .home {
    grid-template-areas:
      'about'
      'projects';
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
    padding: 0;
  }
}

.about {
  grid-area: about;
  display: grid;
  grid-template-areas:
    'name'
    'desc'
    'interests';
  grid-auto-rows: min-content;
  grid-gap: var(--grid-gap);
}

.about h1 {
  font-size: 2.5rem;
  grid-area: name;
  font-family: 'megrim';
  max-width: 100%;
}

.animating-name {
  display: inline-flex;
  overflow: hidden;
  width: 0;
  animation-iteration-count: 1;
}

.first-name {
  animation: first-name 1.5s ease-in-out forwards;
}

.first-family-name {
  animation: first-family-name 1.5s ease-in-out forwards;
}

.second-family-name {
  animation: second-family-name 1.5s ease-in-out forwards;
}

.about p {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--accent);
  line-height: 2.75rem;
}

.about .desc {
  grid-area: desc;
}

.about .interests {
  grid-area: interests;
}

@keyframes first-name {
  100% {
    width: 130px;
  }
}

@keyframes first-family-name {
  100% {
    width: 175px;
  }
}

@keyframes second-family-name {
  100% {
    width: 95px;
  }
}

@media (max-width: 50rem) {
  .about h1 {
    font-size: 2.5rem;
  }

  .name {
    display: block;
  }
}

.projects {
  grid-area: projects;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: var(--grid-gap);
  overflow-y: auto;
  padding: 0.625rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects:after {
  content: '';
  display: block;
  height: 0.625rem;
  width: 100%;
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects h2 {
  visibility: hidden;
  height: 0;
}

.projects-not-found {
  grid-area: projects;
  color: var(--highlight);
  font-size: 7rem;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 75%;
}

.project {
  display: block;
  border: 2px solid;
  border-color: transparent;
  background-color: var(--link-bg);
  padding: 1.875rem;
  transition: border-color, transform, var(--transition);
}

.project:hover {
  border-color: var(--highlight);
  transform: scale(1.04);
}

.project:hover .project-name,
.project:hover .stargazers-star,
.project:hover .project-language {
  color: var(--highlight);
}

.project-language {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: var(--fg);
}

.project-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--fg);
}

.project-description {
  color: var(--accent);
  font-size: 0.875rem;
  font-weight: 300;
}

.project-stargazers {
  color: var(--accent);
  font-size: 0.625rem;
  font-weight: 400;
  margin-top: 0.5rem;
  display: flex;
}

.stargazers-star {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.25rem;
  display: block;
}

@media (max-width: 50rem) {
  .projects {
    padding: 0;
  }

  .projects h2 {
    height: auto;
    visibility: visible;
    font-size: 1.75rem;
  }

  .project {
    padding: 1.25rem;
  }

  .project:hover {
    transform: none !important;
  }

  .projects-not-found {
    padding-bottom: 0;
  }
}
