.nav {
  --item-size: 2.5rem;
  grid-area: nav;
  transition: background-color var(--transition);
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 10rem 1fr;
  align-items: center;
  z-index: 1;
}

.nav div {
  display: flex;
  align-items: flex-end;
}

.nav div > * {
  margin: 0 1rem;
}

.nav div > *:first-child {
  margin-left: 0;
}

.nav div > *:last-child {
  margin-right: 0;
}

.nav .logo {
  font-family: Megrim;
  font-size: 2.5rem;
  user-select: none;
  color: var(--fg);
  border-bottom: 2px solid transparent;
  line-height: unset;
}
.nav .logo:hover {
  transition: color var(--transition);
  color: var(--highlight);
}

.nav form {
  justify-self: flex-end;
  display: inline-flex;
  align-items: center;
}

.nav .switch {
  justify-self: end;
  height: var(--item-size);
  width: var(--item-size);
  color: var(--fg);
  cursor: pointer;
  transition: color var(--transition) ease-in-out;
  border-radius: 0.25rem;
}
.nav .switch:hover {
  color: var(--highlight);
}

.nav .item {
  display: block;
  color: var(--fg);
  transition: color var(--transition) ease-in-out;
  border-bottom: 2px solid transparent;
  line-height: 3;
}

.nav .item:hover {
  color: var(--highlight);
}

.nav .active {
  border-color: var(--highlight);
}

@media (min-width: 50rem) {
  .nav .switch {
    margin-right: 0.625rem;
  }
}
