{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "@remix-run/eslint-config/jest-testing-library",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/consistent-type-imports": ["warn", {
      "prefer": "type-imports"
    }]
  }
}
