{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "@remix-run/eslint-config/jest-testing-library"
  ],
  "rules": {
    "@typescript-eslint/no-redeclare": "off",
    "import/consistent-type-specifier-style": ["warn", "prefer-top-level"]
  }
}
