/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Megrim;
  font-style: normal;
  font-weight: 400;
  src: local('Megrim'), url('/fonts/megrim.ttf') format('truetype');
}

.light {
  --bg: white;
  --fg: #121315;
  --link-bg: #f5f5f5;
  --accent: #666666;
  --text: #252525;
  --footer-hover: black;
}
body {
  --highlight: salmon;
  --bg: #121315;
  --fg: white;
  --link-bg: #222222;
  --accent: #999;
  --text: #eaeaea;
  --footer-hover: white;
  transition: all 0.15s;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

*::selection {
  background: var(--fg);
  color: var(--bg);
}
/* purgecss end ignore */
