/* purgecss start ignore */
@import 'tailwindcss/base';

@font-face {
  font-family: Megrim;
  font-style: normal;
  font-weight: 400;
  src: local('Megrim'), url('/fonts/megrim.ttf') format('truetype');
}

.light {
  --bg: #f8f9fa;
  --fg: #212529;
  --link-bg: #e9ecef;
  --link-hover-fg: #f8f9fa;
  --accent: #495057;
  --highlight: #0b7285;
}
body {
  --bg: #212529;
  --fg: #f8f9fa;
  --link-bg: #343a40;
  --link-hover-fg: #212529;
  --accent: #adb5bd;
  --highlight: salmon;

  --transition: 0.15s;
  --grid-gap: 10px;

  transition: all var(--transition);
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

@media (max-width: 800px) {
  body {
    --grid-gap: 20px;
  }
}

*::selection {
  background: var(--fg);
  color: var(--bg);
}
/* purgecss end ignore */
