/* purgecss start ignore */
@import "tailwindcss/base";

@font-face {
  font-family: Megrim;
  font-style: normal;
  font-weight: 400;
  src: local("Megrim"), url("/fonts/megrim.ttf") format("truetype");
  font-display: swap;
}

.light {
  --bg: #f8f9fa;
  --fg: #212529;
  --link-bg: #e9ecef;
  --link-hover-fg: #f8f9fa;
  --accent: #495057;
  --highlight: #0b7285;
}
.light #switch-on {
  visibility: hidden;
}

.light #switch-off {
  visibility: visible;
}

#switch-off {
  visibility: hidden;
}

#switch-on {
  visibility: visible;
}

body {
  --bg: #212529;
  --fg: #f8f9fa;
  --link-bg: #343a40;
  --link-hover-fg: #212529;
  --accent: #adb5bd;
  --highlight: salmon;

  --transition: 0.15s;
  --grid-gap: 0.625rem;
  --main-padding: 3.125rem;

  transition: all var(--transition);
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  background: var(--bg);
  color: var(--fg);
}

@media (max-width: 50rem) {
  body {
    --grid-gap: 1.25rem;
  }
}

*::selection {
  background: var(--fg);
  color: var(--bg);
}

.paragraph-link {
  color: var(--highlight);
  padding: 0.25rem 0.5rem;
  background-color: var(--link-bg);
  border-radius: 6px;
  transition: background-color var(--transition);
  white-space: nowrap;
}
.paragraph-link:hover {
  background-color: var(--highlight);
  color: var(--link-hover-fg);
}

/* purgecss end ignore */
