.contact {
  grid-area: content;
  display: grid;
  grid-gap: var(--grid-gap);
  max-height: 100%;
  padding-top: var(--main-padding);
  grid-template:
    "title"
    "email";
  grid-template-rows: min-content min-content;
}
.contact h1 {
  font-size: 2.5rem;
  grid-area: title;
}

.contact blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--accent);
  transition: border-color var(--transition);
}
.contact blockquote:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.contact .email {
  grid-area: email;
  font-weight: 200;
  transition: color var(--transition);
}
.contact .email:hover {
  color: var(--highlight);
}

@media (max-width: 50rem) {
  .contact {
    padding: 0;
  }
}
