.home {
  grid-area: content;
  display: grid;
  grid-template-areas: "about projects";
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap);
  max-height: 100%;
  padding-top: var(--main-padding);
}

@media (max-width: 50rem) {
  .home {
    grid-template-areas:
      "about"
      "projects";
    grid-template-columns: 1fr;
    margin-bottom: 1.5rem;
    padding: 0;
  }
}
