.about {
  grid-area: about;
  display: grid;
  grid-template-areas:
    "name"
    "desc"
    "interests";
  grid-auto-rows: min-content;
  grid-gap: var(--grid-gap);
}

.about h1 {
  font-size: 3.5rem;
  grid-area: name;
}

.about p {
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--accent);
  line-height: 2rem;
}
.about .desc {
  grid-area: desc;
}

.about .interests {
  grid-area: interests;
}
@media (max-width: 50rem) {
  .about h1 {
    font-size: 2.5rem;
  }
}
