.projects {
  grid-area: projects;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: var(--grid-gap);
  overflow-y: auto;
  padding: 0.625rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects:after {
  content: "";
  display: block;
  height: 0.625rem;
  width: 100%;
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects h2 {
  display: none;
}

.project {
  display: block;
  border: 2px solid;
  border-color: transparent;
  background-color: var(--link-bg);
  padding: 1.875rem;
  transition: border-color, transform, var(--transition);
}

.project:hover {
  border-color: var(--highlight);
  transform: scale(1.04);
}

.project:hover .project-name,
.project:hover .stargazers-star,
.project:hover .project-language {
  color: var(--highlight);
}

.project-language {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: var(--fg);
}

.project-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--fg);
}

.project-description {
  color: var(--accent);
  font-size: 0.875rem;
  font-weight: 300;
}

.project-stargazers {
  color: var(--accent);
  font-size: 0.625rem;
  font-weight: 400;
  margin-top: 0.5rem;
  display: flex;
}

.stargazers-star {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.25rem;
  display: block;
}

@media (max-width: 50rem) {
  .projects {
    padding: 0;
  }

  .projects h2 {
    display: initial;
    font-size: 1.75rem;
  }

  .project {
    padding: 1.25rem;
  }

  .project:hover {
    transform: none !important;
  }
}
